&.section-three {
  background-image: url("../img/interatividade.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: cover;

  h1, h2, h3 {
    padding-bottom: 20px;
  }
}
