&.section-two {
  background-image: url("../img/transparente.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: cover;

  .title {
    color: #f4511e;
  }

  h1 {
    color: white;
    padding: 5px 0;
  }

  h2 {
    padding: 5px 0;
  }

  @media screen and (min-width: 769px) {
    .title {
      font-size: 2em;
    }

    h1 {
      font-size: 3em;
    }
  }
}
