body.eleicoes-view {
  .tile h1 {
    line-height: 1em;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subtitle {
    text-align: center;
  }


  h2 {
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  #esp {
    color: white;
    padding-bottom: 50px;
  }

  #topo h1 {
    line-height: 1em;
    color: #f4511e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }

  o {
    color: green;
  }

  c {
    color: #FFE817;
  }

  .hero-body {
    padding: 2em !important;
  }
}
