body.empresa-view {
  .section h1{
    padding-bottom: 5%;
  }

  p {
    line-height: 1.5em;
  }

  .iconetv {
    text-align: justify;
    width: 84px;
    height: auto;
    float: left;
    padding-right: 1.25em;
  }
}
