@import "~bulma/bulma.sass";
@import "./reset.scss";
@import "./common/menu.scss";
@import "./common/footer.scss";
@import "./pages/home/main.scss";

body {
  background-color: #000;
  font-family: Raleway, Calibri, Open Sans, Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  width: 100%;
}

b {
  color: #f4511e;
  text-transform: uppercase;
}

p {
  line-height: 1.5em;
}

.borda {
  background-color: rgba(0,0,0,0.5);
  padding: 10%;
  margin: 0;
  position: relative;
}

.columns:last-child {
  margin: 0;
}

.icon {
  margin: 2% 2% 0;
  color: #f4511e;
}

.glyphicon {
  line-height: 1.5em;
}

.titulo {
  color: black;
  font-size: 2em;
}

.subtitulo {
  color: black;
  font-size: 1.25em;
}

.cab {
  padding: 5%;
}

@import "./empresa.scss";
@import "./voce.scss";
@import "./eleicoes.scss";
