@import "~bulma/bulma.sass";
// @import "./reset.scss";
// @import "./common/menu.scss";
// @import "./common/footer.scss";
// @import "./pages/home/main.scss";

body {
  font-family: Raleway, Calibri, Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
	background: #EFEFEF;
}


.embed-responsive {
	position:relative;
	display:block;
	height:0;
	padding:0;
	overflow:hidden;
	text-align: center;
}

.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video {
	position:absolute;
	top:20%;
	bottom:0;
	left:13%;
	width:75%;
	height:75%;
	border:0;
}

.embed-responsive-16by9 {
	padding-bottom:56.25%;
}

.embed-responsive-4by3{
	padding-bottom:75%;
}

.moderador {
	padding: 8%;
}

article .title {
	color: #F4511E;
	padding-bottom: 6%;
}

article {
	padding-left: 5%;
}

.moderador img {
	padding-bottom: 15%;
}

.icon {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.parallax {
  background-image: url('../img/fundo.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
