@import "../../node_modules/bulma/bulma.sass";

body {
  font-family: Nunito, Raleway, Calibri, Open Sans, Helvetica, Arial, sans-serif;
  width: 100%;
	background: #EFEFEF;
}

.navbar {
  background-color: transparent !important;

  @media screen and (max-width: 1023px) {
    background-color: #3273dc !important;
  }
}

.navbar-brand {
  .is-uppercase {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hero.section-one {
  padding: 3rem 1.5rem;
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    max-height: 100vh;
  }
}

.embed-responsive {
  margin-top: 20px;
	position:relative;
	display:block;
	padding:0;
	overflow:hidden;
	text-align: center;

  iframe {
    width: 100%;
    min-height: 450px;
  }
}

.moderador {
	padding: 30px 20px;

  .title {
    margin-bottom: 20px;
  }

  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-description {
      margin-bottom: 10px;
    }

    .title {
    	color: #F4511E;
    	padding-bottom: 6%;
    }
  }

  .tile .is-child {
    padding: 10px;

    &.has-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .icon {
  	padding-right: 1.5em;
  	padding-left: 1.5em;
  }

  img {
  	padding-bottom: 10%;
  }
}

.parallax {
  background-image: url('~/assets/img/fundo.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-hero-phrase {
  position: relative;
  background-image: url('~/assets/img/ray-dalio-phrase.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
  }
}

.landing-footer {
  @extend .footer;
  padding: 25px;

  .landing-footer-links {
    margin: 10px 0;
  }

  .landing-footer-social {
    margin-bottom: 15px;

    a.social-icons {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 15px;
      text-align: center;

      i {
        display: block;
      }
    }
  }
}
