div.copyright
  p Desenvolvido por 
    | #[a(href="http://emanuelgdev.com.br" title="Ir para o site de Emanuel G Web Developer") EmanuelGDev ] 
    | e mantido por 
    | #[a(href="https://www.facebook.com/AlanPCosta" title="Conheça o perfil de Alan Costa, mantenedor do site Debate3D") Alan Costa ]
