div.hero
  div.header
    figure.image
      img(src="./img/logo-debate3d-white.png")
        
    a(class="button is-info is-small" href="/app") Acessar
  
  div.container1
    figure.image
      img(src="./img/logo-debate3d-white.png")
    
    p.is-size-5.has-text-weight-bold the game
    
  div.container2
    h2.subtitle.is-uppercase.has-text-centered Amplie a experiência de seus seguidores
    
    figure.image
      img(src="./img/favicon.png")
