div.hero-bg-overlay

div.hero
  div.header
    figure.image
      img(src="./img/logo-debate3d-white.png")
        
    button.button.is-info.is-small Acessar
    
  
  div(class="content" data-aos="fade-up")
    h1.title.has-text-centered.has-text-weight-bold Amplie a experiência de seus seguidores
    h2.subtitle.has-text-centered Seja um moderador por apenas
    
    p.title.has-text-centered R$ 29.90 / mês

    span(
      class="icon is-large"
      data-aos="fade-up"
      data-aos-easing="ease"
      data-aos-delay="400")
      i(class="fa fa-arrow-down fa-2x" aria-hidden="true")
