section.section.section-cards
  h2.title.has-text-centered.has-text-light No Debate3D
  div.columns.is-centered
    div.column.is-4
      div(class="card" data-aos="flip-left" data-aos-delay="200" data-aos-duration="3000")
        div.card-header
          span(class="icon is-large" aria-hidden="true")
            i.fa.fa-thumbs-up.fa-3x.has-text-primary
        div.card-content
          p É você quem escolhe o melhor argumento
          
    div.column.is-4
      div(class="card" data-aos="flip-up" data-aos-delay="300" data-aos-duration="3000")
        div.card-header
          span(class="icon is-large" aria-hidden="true")
            i.fa.fa-comments.fa-3x
        div.card-content
          p Os comentários são os melhores
      
    div.column.is-4
      div(class="card" data-aos="flip-right" data-aos-delay="400" data-aos-duration="3000")
        div.card-header
          span(class="icon is-large" aria-hidden="true")
            i.fa.fa-star.fa-3x.has-text-warning
        div.card-content
          p Salve no seu deck os cards que você respeita
          
