section.section.section-cards
  div.content
  
    h2.title.is-4.has-text-centered Entenda porque se tornar um debatedor é importante
    
    div.columns.is-centered.v-centered
      
      div.column.is-6
        
        div.columns.is-mobile
          
          div.column.is-6.is-half-mobile
            figure(class="image" aria-hidden="true")
              img(src="./img/card1.png")

          div.column.is-6.is-half-mobile
            figure(class="image" aria-hidden="true")
              img(src="./img/card2.png")
      
      div.column.is-6
        
        h3.subtitle.has-text-centered.is-5
          | Ao criar um card com a sua opinião, você se torna um
          | #[span.has-text-weight-bold debatedor].
        
        p Com isso, você ganha / perde ponto toda vez que alguem:
          
        ul
          li Dá um like: 5 ponto
          li Dá um dislike: -1 ponto
          li Guarda no deck: 10 pontos
