section.section.section-info
  div.container
    h2.title.has-text-centered
      | Temas #[span.has-text-warning polêmicos] de tirar o fôlego
    
    hr
    
    p.has-text-centered
      | Você participa deixando seu
      | #[span.is-uppercase.has-text-weight-bold voto]
      | ou criando um
      | #[span.is-uppercase.has-text-weight-bold card]
      | com seu argumento
  
  div.palanques
    
    div.palanque.palanque__left
      figure(class="image" aria-hidden="true")
        img(src="./img/palanque-left.png")
      
    div.palanque.palanque__right
      figure(class="image" aria-hidden="true")
        img(src="./img/palanque-right.png") 
