section.section.section-ranking
  div.content
    h2.title.has-text-centered.has-text-light Quanto mais no topo, mais 
      | #[span.has-text-weight-bold.has-text-warning visibilidade]
    
    p.has-text-centered.has-text-light O DEBATE3D é um GAME que quanto mais você interage, mais pontos ganha, mais visibilidade no ranking, conquistando...
    
    ul.has-text-light
      li Seguidores no Facebook, Twitter, Linkedin, Instagram e Youtuber
      li Promoção da sua marca
      li Acesso ao seu site
    
    a(href="/app/#/ranking" class="button") Conheça nosso ranking
      
    hr
    
    div.columns
      div.column.is-6
        h2.subtitle.is-4.has-text-centered.has-text-light Torne-se um debatedor
        
        ul.has-text-light
          li Ganhe pontos com os likes
          li Perda pontos com os dislikes
          li Ganhe 2 vezes mais pontos com o seu card num deck
        
      div.column.is-6
        h2.subtitle.is-4.has-text-centered.has-text-light Torne-se um moderador
        
        ul.has-text-light
          li Ganhe pontos com os votos no seu tópico
          li Ganhe 5 vezes mais pontos com um card criado no seu tópico
