section.section.section-topics
  
  div.content
  
    h2.title.is-4.has-text-centered Entenda porque se tornar um moderador é importante
    
    div.columns.is-centered.v-centered
      
      div.column.is-6
        figure(class="image" aria-hidden="true")
          img(src="./img/temas.png")
      
      div.column.is-6
        
        h3.subtitle.has-text-centered.is-5
          | Ao criar um tema para discussão, você se torna um
          | #[span.has-text-weight-bold moderador].
        
        p Com isso, você ganha ponto toda vez que alguém:
          
        ul
          li Vota no tema: 1 ponto
          li Cria um card: 5 pontos
