section.section.section-subscriber
  div.content
    h2.title.is-4.has-text-light Por apenas 
      | #[span.has-text-weight-bold R$ 29,9 ] / mês
      
    ul 
      li Conheça melhor o posicionamento de seus seguidores

      li Interaja com os posicionamentos mais populares e ajude seus clientes a usufruir de uma melhor experiência com seu produto
      
      li Qualificar e quantificar a opinião dos seus funcionários para melhorias no ambiente de trabalho
      
      li Promover o ensino através da argumentação de alunos como atividade de aula
      
      li Validar inovações antes de prototipar
      
      li Criar empatia com os clientes
      
      li Ampliar sua rede de relacionamento
      
      li Ou apenas estimular debates com seus amigos da rede social
      
    
    a(class="button is-warning" href="http://emanuelgdev.com.br/debate3d-site/") Experimente nossa plataforma
