section.section.section-subscriber
  div.content
    h2.title.has-text-light Por apenas 
      | #[span.has-text-weight-bold R$ 29,9 ] / mês
      
    ul 
      li Conheça melhor o posicionamento de seus seguidores

      li Interagir com os posicionamentos mais populares e ajudar seus clientes a usufluir de uma melhor experiência com seu produto
      
      li Debater com funcionários melhorias no ambiente de trabalho
      Avaliar a argumentação de alunos como atividade de aula
      
      li Validar inovações antesde prototipar
      
      li Criar empatia com os clientes
      
      li Ampliar sua rede de relacionamento
      
      li Ou apenas estimular debates com seus amigos da rede social
      
    
    a(class="button is-warning" href="http://emanuelgdev.com.br/debate3d-site/") Experimente nossa plataforma
