extends layouts/default.pug

block vars
  - var pageTitle = 'Conheça o Debate3D'
  - var bodyClass = ''
  - var description = 'Conheça o Debate3D, sua plataforma de debates!'
  - var title = 'Debate3D'
  - var site = 'https://debate3d.com.br'
  - var author = 'emanuelgdesouza@gmail.com'
  - var image = ''
  - var sitename = 'Debate3D'
  - var themeColor = '#3a4752'

block content

  include includes/hero.pug

  include includes/section-info.pug

  include includes/section-ranking.pug

  include includes/section-cards.pug
  
  hr
  
  include includes/section-topics.pug

  //- include includes/section-subscriber.pug

  include includes/copyright.pug
  
